@charset "utf-8";
/* overriding css */

.card__bid {
    color: #ffffff;
    padding: 0 10px;
    border-radius: 5px;
}

.apply_filter {
	height: 35px;
    font-size: 14px;
    margin-top: -18px;
    background: #3772FF;
    box-shadow: 0 0 0 2px #3772ff inset;
    color: #ffffff;
    margin-right: 10px;
}